# Vercel related files
.vercel

# IDE-related files
.idea

# Node modules
node_modules

# Temporary or compiled files
*.txt
tempcrypto.cjs
dist/
*.log
*.tmp

# Dependency lock files
yarn.lock
package-lock.json

# Environment and secrets
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store                # macOS
Thumbs.db                # Windows

# TypeScript build outputs
*.tsbuildinfo